  body {
            background-color: #82e0aa;
        }
        h2 {
            color: black;
        }
        table {
            background-color: #ffffff;
        }
        th {
            cursor: pointer;
            background-color: #007bff;
            color: white;
        }
        th:hover {
            background-color: #5dade2;
        }
        input {
            border-radius: 5px;
        }